<div class="relative h-[400vh]" #wrapperEl>
  <div class="sticky top-0 h-screen w-full flex items-center justify-center overflow-hidden">

    @if (loading()) {
      <div class="text-gray-400 text-sm animate-pulse">Cargando animación...</div>
    }

    <div class="relative w-full h-full flex items-center justify-center">
      <div class="relative bg-gray-900">
        <canvas #canvasEl class="block max-w-full max-h-[90vh]"></canvas>

        <div class="pointer-events-none absolute top-0 inset-x-0 h-20 bg-linear-to-b from-gray-900 to-transparent"></div>
        <div class="pointer-events-none absolute bottom-0 inset-x-0 h-20 bg-linear-to-t from-gray-900 to-transparent"></div>
      </div>
    </div>

  </div>
</div>